# ~/.zshrc

# add common bin directories to path
add_to_path $HOME/bin /usr/local/bin

# add homebrew paths if on macOS
if [[ $KERNEL_NAME == "darwin" ]]; then
  case $(uname -m) in
    arm64) HOMEBREW_PREFIX="/opt/homebrew";;
    *) HOMEBREW_PREFIX="/usr/local";;
  esac

  add_to_path $HOMEBREW_PREFIX/bin $HOMEBREW_PREFIX/sbin
fi
