# ~/.zshrc

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# Use coloured grep and ls output
alias ls="ls --color=auto"
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# Get IP addresses
alias ip_public="dig +short myip.opendns.com @resolver1.opendns.com"
alias ip_private="ipconfig getifaddr en0"

# Print each PATH entry on a separate line
alias path="echo ${PATH} | sed 's|:|\\n|g'"

# Timing
alias start_timer="eval time_start=$(print -P %D{%s%6.})"
alias end_timer_us='echo "elapsed time: $((($(print -P %D{%s%6.})-$time_start)/1)) us"'
alias end_timer_ms='echo "elapsed time: $((($(print -P %D{%s%6.})-$time_start)/1000)) ms"'
alias end_timer_s='echo "elapsed time: $((($(print -P %D{%s%6.})-$time_start)/1000000)) s"'
alias end_timer="end_timer_ms"
