# ~/.zshrc

DOTFILES=$HOME/dotfiles
ZSH_HOME=$HOME/.config/zsh

# TODO: automatically loop file glob
source $ZSH_HOME/01_exports.rc
source $ZSH_HOME/02_path.rc
source $ZSH_HOME/03_functions.rc
source $ZSH_HOME/04_aliases.rc
source $ZSH_HOME/05_plugins.rc
